<div class="form-group">
    <button type="submit" name="submit" value="Ok" class="btn btn-primary">Save</button>
    <button type="submit" name="submit" value="Cancel" class="btn btn-secondary" formnovalidate>Cancel</button>
</div>

