@model GloboDiet.ViewModels.InterviewCreateEdit

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Interview.Id" class="control-label" ></label>
    <input asp-for="Interview.Id" class="form-control alert-danger" readonly="readonly"/>
    <span asp-validation-for="Interview.Id" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Interview.Timestamp" class="control-label"></label>
    <input asp-for="Interview.Timestamp" class="form-control alert-danger" />
    <span asp-validation-for="Interview.Timestamp" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Interview.Number" class="control-label"></label>
    <input asp-for="Interview.Number" class="form-control alert-primary" />
    <span asp-validation-for="Interview.Number" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Interview.ReferenceDate" class="control-label"></label>
    <input asp-for="Interview.ReferenceDate" class="form-control" />
    <span asp-validation-for="Interview.ReferenceDate" class="text-danger"></span>
</div>
<div class="form-inline">
    <label asp-for="Interview.LocationId" class="control-label"></label>
    <select asp-for="Interview.LocationId" class="form-control" asp-items=@Model.ListOfLocations>
        <option selected="selected" value="">Please select</option>
    </select>
    <span asp-validation-for="Interview.LocationId" class="text-danger"></span>
</div>
<div class="form-inline">
    <label asp-for="Interview.InterviewerId" class="control-label"></label>
    <select asp-for="Interview.InterviewerId" class="form-control" asp-items=@Model.ListOfInterviewers>
        <option selected="selected" value="">Please select</option>
    </select>
    <span asp-validation-for="Interview.InterviewerId" class="text-danger"></span>
</div>
<div class="form-inline">
    <label asp-for="Interview.ResponentId" class="control-label"></label>
    <select asp-for="Interview.ResponentId" class="form-control" asp-items=@Model.ListOfRespondents>
    </select>
    <span asp-validation-for="Interview.ResponentId" class="text-danger"></span>
    <input type="submit" value="+" name="submit" class="btn btn-info" formaction="NewInterview021"/>
</div>
