@model GloboDiet.ViewModels.InterviewCreateEdit

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <input asp-for="RespondentId" hidden ></label>
    <label asp-for="Id" class="control-label" ></label>
    <input asp-for="Id" class="form-control alert-danger" readonly="readonly"/>
</div>
<div class="form-group">
    <label asp-for="Timestamp" class="control-label"></label>
    <input asp-for="Timestamp" class="form-control alert-danger" />
    <span asp-validation-for="Timestamp" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Number" class="control-label"></label>
    <input asp-for="Number" class="form-control alert-primary" />
    <span asp-validation-for="Number" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ReferenceDate" class="control-label"></label>
    <input asp-for="ReferenceDate" class="form-control" />
    <span asp-validation-for="ReferenceDate" class="text-danger"></span>
</div>
<div class="form-inline">
    <label asp-for="LocationId" class="control-label"></label>
    <select asp-for="LocationId" class="form-control" asp-items=@Model.ListOfLocations autofocus>
        <option selected disabled value="">Please select</option>
    </select>
    <span asp-validation-for="LocationId" class="text-danger"></span>
</div>
<div class="form-inline">
    <label asp-for="InterviewerId" class="control-label"></label>
    <select asp-for="InterviewerId" class="form-control" asp-items=@Model.ListOfInterviewers>
        <option selected disabled value="">Please select</option>
    </select>
    <span asp-validation-for="InterviewerId" class="text-danger"></span>
</div>
<div class="form-inline">
    <label asp-for="RespondentLabel" class="control-label"></label>
    <input asp-for="RespondentLabel" class="form-control" readonly/>
    <span asp-validation-for="RespondentLabel" class="text-danger"></span>
    <input type="submit" value="+" name="submit" class="btn btn-info" formaction="/Home/NewInterview021"/>
</div>
<h1>List of Meals</h1>
<div class="form-inline">
    <input type="submit" value="+" name="submit" class="btn btn-info" formaction="/Home/NewInterview041"/>
</div>
<partial name="_MealList.cshtml"/>

