@model GloboDiet.ViewModels.LocationCreateEdit
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Location.City" class="control-label"></label>
    <input asp-for="Location.City" class="form-control" />
    <span asp-validation-for="Location.City" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Location.Country" class="control-label"></label>
    <input asp-for="Location.Country" class="form-control" />
    <span asp-validation-for="Location.Country" class="text-danger"></span>
</div>

