@model GloboDiet.ViewModels.MealCreateEdit
@using GloboDiet

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <input asp-for="InterviewId" hidden />
    <input asp-for="Id" readonly/>
</div>
<div class="form-group">
    <label asp-for="StartingHour" class="control-label"></label>
    <input asp-for="StartingHour" class="form-control" autofocus />
    <span asp-validation-for="StartingHour" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="MealTypeId" class="control-label"></label>
    <select asp-for="MealTypeId" class="form-control" asp-items=@Globals.StaticListOfMealTypes>
        <option selected disabled value="">Please select</option>
    </select>
    <span asp-validation-for="MealTypeId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="MealPlaceId" class="control-label"></label>
    <select asp-for="MealPlaceId" class="form-control" asp-items=@Globals.StaticListOfMealPlaces>
        <option selected disabled value="">Please select</option>
    </select>
    <span asp-validation-for="MealPlaceId" class="text-danger"></span>
</div>
