@model GloboDiet.Models.Meal

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="StartingHour" class="control-label" ></label>
    <input asp-for="StartingHour" class="form-control alert-danger" readonly="readonly"/>
    <span asp-validation-for="StartingHour" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="TypeOfMeal" class="control-label"></label>
    <input asp-for="TypeOfMeal" class="form-control alert-danger" />
    <span asp-validation-for="TypeOfMeal" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="TypeOfMeal" class="control-label"></label>
    <input asp-for="TypeOfMeal" class="form-control alert-primary" />
    <span asp-validation-for="TypeOfMeal" class="text-danger"></span>
</div>