@model GloboDiet.ViewModels.MealCreateEdit
@using GloboDiet

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Meal.StartingHour" class="control-label" ></label>
    <input asp-for="Meal.StartingHour" class="form-control"/>
    <span asp-validation-for="Meal.StartingHour" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Meal.TypeOfMeal" class="control-label"></label>
    <select asp-for="Meal.TypeOfMeal" class="form-control" asp-items=@Globals.StaticListOfTypesOfMeal></select>
    <span asp-validation-for="Meal.TypeOfMeal" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Meal.PlaceOfMeal" class="control-label"></label>
    <select asp-for="Meal.PlaceOfMeal" class="form-control" asp-items=@Globals.StaticListOfPlacesOfMeal></select>
    <span asp-validation-for="Meal.PlaceOfMeal" class="text-danger"></span>
</div>