@using GloboDiet.Models
@model GloboDiet.ViewModels.RespondentCreateEdit

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Respondent.Id" class="control-label"></label>
    <input asp-for="Respondent.Id" class="form-control" readonly="readonly" />
    <span asp-validation-for="Respondent.Id" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Respondent.Code" class="control-label"></label>
    <input asp-for="Respondent.Code" class="form-control" />
    <span asp-validation-for="Respondent.Code" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Respondent.GivenName" class="control-label"></label>
    <input asp-for="Respondent.GivenName" class="form-control" />
    <span asp-validation-for="Respondent.GivenName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Respondent.Name" class="control-label"></label>
    <input asp-for="Respondent.Name" class="form-control" />
    <span asp-validation-for="Respondent.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Respondent.Gender" class="control-label"></label>
    <select asp-for="Respondent.Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
        <option selected="selected" value="">Please select</option>
    </select>
    <span asp-validation-for="Respondent.Gender" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Respondent.DateOfBirth" class="control-label"></label>
    <input asp-for="Respondent.DateOfBirth" class="form-control" />
    <span asp-validation-for="Respondent.DateOfBirth" class="text-danger"></span>
</div>
@*<div class="form-group">
        <label asp-for="Respondent.Age" class="control-label"></label>
        <input asp-for="Respondent.Age" class="form-control" readonly="readonly"/>
        <span asp-validation-for="Respondent.Age" class="text-danger"></span>
    </div>*@
<div class="form-group">
    <label asp-for="Respondent.Height" class="control-label"></label>
    <input asp-for="Respondent.Height" class="form-control" />
    <span asp-validation-for="Respondent.Height" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Respondent.Weight" class="control-label"></label>
    <input asp-for="Respondent.Weight" class="form-control" />
    <span asp-validation-for="Respondent.Weight" class="text-danger"></span>
</div>

@Html.ValidationMessage("CustomError", null, new { @class="text-danger"})
