@model GloboDiet.ViewModels.InterviewCreateEdit

@*<div class="d-flex justify-content-between border-soft">*@
<div class="d-flex justify-content-around border-soft">
    @foreach (var item in Model.ListOfProcessMilestones)
    {
        <div class="border-soft p-2 m-2">@item</div>
    }
</div>

<h1>CreateInterview</h1>
<h4>Interview</h4>0
<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateInterview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-inline">
                <label asp-for="Interview.Timestamp" class="form-control alert-primary"></label>
                <input asp-for="Interview.Timestamp" class="form-control alert-danger" />
                <span asp-validation-for="Interview.Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interview.Number" class="control-label alert-primary"></label>
                <input asp-for="Interview.Number" class="form-control alert-primary" />
                <span asp-validation-for="Interview.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interview.ReferenceDate" class="control-label"></label>
                <input asp-for="Interview.ReferenceDate" class="form-control" />
                <span asp-validation-for="Interview.ReferenceDate" class="text-danger"></span>
            </div>
            <div class="form-inline">
                <label asp-for="Interview.Location" class="control-label"></label>
                <select asp-for="Interview.Location" class="form-control" asp-items=@Model.ListOfLocations>
                </select>
                <span asp-validation-for="Interview.Location" class="text-danger"></span>
                <input type="submit" value="New Location" name="submit" class="btn btn-secondary" formaction="CreateLocationFromInterview"></input>
            </div>

            <div class="form-group">
                <input type="submit" name="submit" value="Create" class="btn btn-primary"></input>
            </div>
        </form>
    </div>
</div>



