@model GloboDiet.Models.Interview
<h1 class="display-1">Welcome</h1>

<div class="card">
    <h5 class="card-title text-light bg-dark">Confirm current date</h5>
    <p class="card-text">xdd</p>

    <h1 class="display-5">New Interview</h1>
    <form asp-action="Index" method="post">
        <div class="form-inline">
            <label asp-for="Id" class="form-control col-sm-2"></label>
            <input asp-for="Id" class="form-control col-sm-4" readonly />
        </div>
@*        <div class="form-inline mb-2">
            <label asp-for="PlanungVm.Lebensphase" class="form-control "></label>
            <select asp-for="PlanungVm.LebensphaseId" class="form-control" asp-items="@Model.LebensphaseDropdown">
                <option selected="selected" value="">-Please select-</option>
            </select>
            <span asp-validation-for="PlanungVm.LebensphaseId" class="text-danger"></span>
        </div>
*@
        <button type="submit" name="submit" value="Save" class="btn btn-primary">Save Patient</button>
        <a asp-action="Grid" class="btn btn-primary" name="cancel" id="cancel">Cancel and <kbd>Esc</kbd> to List</a>
    </form>
</div>
