@model GloboDiet.ViewModels.InterviewCreateEdit

<h4>New Interview</h4>

<form asp-action="Interview1Create">
    <partial name="_Interview.cshtml" />
    <partial name="/Views/Shared/_OkCancelButtons.cshtml" />
</form>