@model GloboDiet.ViewModels.InterviewCreateEdit

    <h4>Interview parameter</h4>

    <form asp-action="Interview1Edit">
        <partial name="_Interview.cshtml" />
        <partial name="/Views/Shared/_OkCancelButtons.cshtml" />
    </form>
