@model GloboDiet.ViewModels.InterviewerCreateEdit
<h1>Edit</h1>

<h4>Interviewer</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="InterviewerEdit">
            <partial name="_Interviewer.cshtml"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

