@model GloboDiet.ViewModels.MealCreateEdit


<h4>Create Meal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Meal2Edit">
            <partial name="_Meal.cshtml" />
            <partial name="/Views/Shared/_OkCancelButtons.cshtml" />
        </form>
    </div>
</div>


