@model GloboDiet.ViewModels.MealCreateEdit


<h4>Create Meal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewInterview042">
            <partial name="_Meal.cshtml"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="NewInterview020">Cancel</a>
            </div>
        </form>
    </div>
</div>


