@model GloboDiet.ViewModels.RecipeCreateEdit

<h1>Recipe Create</h1>
<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RecipeCreate">
            <partial name="_Recipe.cshtml"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>