@model GloboDiet.ViewModels.RespondentCreateEdit

<h1>RespondentCreate</h1>
<h4>Respondent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Respondent2Edit">
            <partial name="_Respondent.cshtml" />
            <partial name="/Views/Shared/_OkCancelButtons.cshtml" />
        </form>
    </div>
</div>


