@using Microsoft.AspNetCore.Identity
@using GloboDiet.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    // Signed in
    <a class="navbar-item text-muted mr-2">@User.Identity.Name</a>
    <a class="btn btn-primary btn-sm mr-2" asp-controller="Account" asp-action="Logout">Logout</a>
}
else
{
    //QAnon
        <a class="nav-item mr-2" asp-controller="Account" asp-action="Login">Login</a>
        <a class="nav-item mr-2" asp-controller="Account" asp-action="Register">Register</a>

}


